extends layout

block content
    div(class="organizer top-in jumbotron mx-auto")
        h1(class="display-1")= title
        p Welcome to #{title}! Please login below.
        form(method="POST", action="/feed")
            div(class="form-group")
                input(type='text', name="Username", placeholder="Username")
            div(class="form-group")
                input(type='password', name="Password", placeholder="Password")
            div(class="form-group")
                input(type='submit')
            div(class="form-group")
                a(href="/signup") Sign up
                br
                a(href='/characters/Shayf') Browse as a Guest
