extends layout

block content
    div(class="organizer top-in jumbotron mx-auto")
        h1(class="display-1")= title
        p Welcome to the #{title}! Below is what you can do.
        p #{user.username}
        
