extends layout

block content
    div(class="organizer top-in jumbotron mx-auto")
        h1(class="display-1")= title
        p Welcome to #{title}! Please login below.
        form(method="POST", action="/signup")
            div(class="form-group")
                input(type='text', name="email", placeholder="Email")
            div(class="form-group")
                input(type='text', name="display", placeholder="Display Name")
            div(class="form-group")
                input(type='password', name="password", placeholder="Password")
            div(class="form-group")
                input(type='submit')
                br
                p #{flash}
