body {
    padding: 50px;
    font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: block;
}
.display-1 {
    text-transform: capitalize;
}
.organizer {
    display: block;
    text-align: left;
    width: 60%;
}
.top-in {
    position: relative;
    animation-name: shiftUp;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.bottom-in {
    position: relative;
    animation-name: shiftDown;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
@keyframes shiftUp {
    0% {top:-543px;}
    100% {top: 0px}
}
@keyframes shiftDown {
    0% {top:930px;}
    100% {top: 0px}
}
a {
    color: #00B7FF;
    text-decoration: none;
}
